/* Set the body background color to black and text color to white */
body {
    background-color: #000;
    color: #fff;
}

/* Change the off-canvas background to gold and text color to black */
.offcanvas-body {
    background-color: #ad9551;
    color: #000;
}

/* Change the form input background to black and set the text color to gold */
input[type="text"], input[type="email"], textarea {
    background-color: #000;
    color: #ad9551;
}

/* Change the submit button background to gold and set text color to black */
.btn-submit {
    background-color: #ad9551;
    color: #000;
}

/* Set the active sidebar link color to gold */
.offcanvas-body ul li a:active {
    color: #ad9551;
}

/* Set the hover effect of the sidebar links to gold */
.offcanvas-body ul li a:hover {
    color: #ad9551;
}

/* Update the page content background to gold */
.container {
    background-color: #ad9551;
}

/* Change the primary button background to gold and text color to black */
.btn-primary {
    background-color: #ad9551;
    color: #000;
}

/* Remove the default blue outline when hovering over buttons */
.btn:hover, .btn:focus {
    outline: none;
}

/* Change hyperlink color to bronze and remove underline */
a {
    color: #ad9551;
    text-decoration: none;
}

/* Change hyperlink color to black on hover */
a:hover {
    color: #000;
}

/* Set the sidebar link color to black */
.offcanvas-body ul li a {
    color: white;
}

/* Change the sidebar link color to gold on hover */
.offcanvas-body ul li a:hover {
    color: black;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    white-space: nowrap;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ad9551; /* Sidebar background color */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    font-size: 18px;
    color: white; /* Sidebar text color */
}


/* Link color */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white; /* Sidebar link text color */
    display: block;
    opacity: 0;
}

/* Link color on hover */
.sidebar a:hover {
    color: black;
}

/* Close button */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
    user-select: none;
    color: white; /* Close button color */
}

/* Set the background image to cover the entire screen */
.bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 9999;
}

/* Set the text color to white in the Accordion */
.accordion-body {
    color: #fff;
    padding-left: 15px;
    white-space: normal !important;
}

/* Set the background color of the accordion item and button */
.accordion-item, .accordion-button {
    background-color: transparent !important;
    text-decoration: none !important;
}

/* Set the background image of the accordion button */
.accordion-button::before {
    flex-shrink:0;
    width:1.25rem;
    height:1.25rem;
    margin-left: 10px;    
    margin-right: 10px;    
    content:"";
    background-image: url(../images/arrow-verde.png);
    background-repeat:no-repeat;
    background-size:1.25rem;
    transition:transform .2s ease-in-out;
}

/* Rotate the accordion button when it is not collapsed */
.accordion-button:not(.collapsed)::before {
    background-image: url(../images/arrow-verde.png);
    transform: rotate(-180deg);
}

/* Set the color of the accordion button when it is not collapsed */
.accordion-button:not(.collapsed) {
    color: #fff;    
}

/* Set the transition effect of the accordion button */
.accordion-button {
    transition: ease .6s;
}

/* Padding for the accordion */
.accordion {
    padding-top: 15px;
}

/* Contact Us Form */
.contact-link {
    color: #ffffff; /* White link color */
    transition: color 0.3s ease; /* Smooth transition effect */
}

/* Change the color of the contact link on hover */
.contact-link:hover {
    color: #ad9551; /* Gold link color on hover */
}
